{{ showMessages() }}

<div class="jumbotron col-xs-offset-3 col-xs-4">
    <h2 class="text-center">Edit Item</h2>
    <form method="{{ form.attributes.method }}" action="{{ url('item', {'action': 'edit'}) }}" name='item'>
        {{ formHidden(form.get('id')) }}
        <div class="form-group">
            {{ formRow(form.get('title')) }}
        </div>
        <div class="form-group">
            {{ formRow(form.get('price')) }}
        </div>
        <div class="form-group">
            {{ formRow(form.get('description')) }}
        </div>
        {{ formSubmit(form.get('submit')) }}
    </form>
</div>
